<div style="text-align: center">
  <h1>Ajouter un avion personnel</h1><br>
  <form [formGroup]="aircraftForm" (ngSubmit)="onSubmit()">

    <div>
      <mat-form-field class="form-button">
        <mat-label>N° d'avion</mat-label>
        <input matInput placeholder="ZZZZ" formControlName="airCraftId">
      </mat-form-field>

      <aircraft-type-input name="Désignation de l'avion" class="form-button"
                           [control]="aircraftForm.controls['airCraftType']"
      ></aircraft-type-input>

      <mat-form-field class="form-button">
        <mat-label>Type de turbulence</mat-label>
        <mat-select formControlName="turbulenceType">
          @for (type of turbulenceType; track type) {
            <mat-option [value]="type.value">{{ type.value }} - {{ type.description }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="form-button">
        <mat-label>Equipement</mat-label>
        <input matInput placeholder="S" formControlName="equipment">
      </mat-form-field>

      <mat-form-field class="form-button">
        <mat-label>Transponder</mat-label>
        <input matInput placeholder="S" formControlName="transponder">
      </mat-form-field>

      <mat-form-field class="form-button">
        <mat-label>Marques et couleur</mat-label>
        <input matInput placeholder="Bleu" formControlName="colorAndMarkings">
      </mat-form-field>
    </div>

    <button mat-fab extended type="reset" class="form-button">
      <mat-icon>restart_alt</mat-icon>
      Effacer
    </button>

    <button mat-fab extended type="submit" class="form-button" [disabled]="!aircraftForm.valid">
      <mat-icon>send</mat-icon>
      Enregister
    </button>
  </form>
</div>
