<mat-form-field>
  <mat-label>{{ name }}</mat-label>
  <input
         type="text"
         placeholder="LFPG"
         matInput
         maxlength="4"
         [formControl]="control"
         [matAutocomplete]="auto"
         (input)="handleAirportAutocomplete()"
         (focus)="handleAirportAutocomplete()">
  <button matSuffix mat-icon-button aria-label="Filter by" [matMenuTriggerFor]="airportFilterMenu">
    <mat-icon>filter_list</mat-icon>
    <mat-menu #airportFilterMenu="matMenu">
      <button mat-menu-item (click)="setFilterTo('name')" [disabled]="filterBy === 'name'">par nom</button>
      <button mat-menu-item (click)="setFilterTo('icao')" [disabled]="filterBy === 'icao'">par ICAO</button>
      <button mat-menu-item (click)="setFilterTo('iata')" [disabled]="filterBy === 'iata'">par IATA</button>
    </mat-menu>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAirport">
    @for (option of filteredOptions; track option) {
      <mat-option [value]="option">{{ option.name }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
<button mat-icon-button aria-label="Get nearby airports" (click)="suggestNearbyAirports()">
  <mat-icon>explore_nearby</mat-icon>
</button>
