<mat-sidenav-container>
  <mat-toolbar>
    <button mat-icon-button (click)="navigate('/')" aria-label="Menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button (click)="navigate('/')">PilotHelper</a>
    <a mat-button (click)="navigate('/aircraft')">Mes aéronefs</a>
    <a mat-button (click)="navigate('/my-flyingplans')">Mes plans de vol</a>
    <a mat-button (click)="navigate('/flyingplan')">Planifier un vol</a>
    <span class="spacer"></span>
    <span>{{ username ? 'Bonjour ' + username : '' }}</span>
    <button mat-icon-button (click)="username ? logout() : openLoginDialog()" aria-label="Login icon">
      <mat-icon>{{ username ? 'logout' : 'login' }}</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
