<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sideNav.toggle()" aria-label="Menu icon" [disabled]="!mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
    @if (!mobileQuery.matches) {
      @for (nav of navElements; track nav) {
        <a mat-button (click)="navigate(nav.path)">{{ nav.name }}</a>
      }
    }

    <app-plane-animated class="spacer"></app-plane-animated>

    <span>{{ username ? 'Bonjour ' + username : '' }}</span>
    <button mat-icon-button (click)="username ? logout() : openLoginDialog()" aria-label="Login icon">
      <mat-icon>{{ username ? 'logout' : 'login' }}</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list>
        @for (nav of navElements; track nav) {
          <a mat-list-item routerLink="{{nav.path}}" (click)="sideNav.toggle()">{{ nav.name }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
