<mat-sidenav-container>
  <mat-toolbar>
    <button mat-icon-button (click)="navigate('/')" aria-label="Menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button (click)="navigate('/')">PilotHelper</a>
    <a mat-button (click)="navigate('/aircraft')">Mes aéronefs</a>
    <a mat-button (click)="navigate('/flyingplan')">Planifier un vol</a>
    <span class="spacer"></span>
    <a mat-icon-button href="http://keycloak:8080" aria-label="Login icon">
      <mat-icon>login</mat-icon>
    </a>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
