<h1 style="text-align: center">Créer un plan de vol</h1>
<div class="flex-container">
  @if (!mobileQuery.matches) {
    <div [style.flex]="1">
      <app-display-meteo [airportCode]="airportCodeStart"></app-display-meteo>
      <app-display-meteo [airportCode]="airportCodeEnd"></app-display-meteo>
    </div>
  }

  <div [style.flex]="3">
    <div>
      <app-flight-plan-form
        (formChange)="updateMeteo($event)"
        (formSubmit)="onFormSubmit($event)">
      </app-flight-plan-form>
    </div>
  </div>
</div>
