<h1 style="text-align: center">Créer un plan de vol</h1>
<div class="flex-container">
  @if (!mobileQuery.matches) {
    <div [style.flex]="1">
      <app-display-meteo [airport]="flightPlanForm.flightPlanForm.value['startingAirport']"></app-display-meteo>
      <app-display-meteo [airport]="flightPlanForm.flightPlanForm.value['destinationAirport']"></app-display-meteo>
    </div>
  }

  <div [style.flex]="3">
    <div>
      <app-flight-plan-form #flightPlanForm
        (formSubmit)="onFormSubmit($event)">
      </app-flight-plan-form>
    </div>
  </div>
</div>
