# Keycloak
DB_URL=jdbc:postgresql://database:5432/pilothelper
DB_DRIVER=org.postgresql.Driver
DB_USERNAME=dbUSER
DB_PASSWORD=dbPASS
# Business PostgresDB
POSTGRESQL_DATABASE: pilothelper
POSTGRES_USER: dbUSER
POSTGRES_PASSWORD: dbPASS