# Disable Login form or not
#GF_AUTH_DISABLE_LOGIN_FORM=true
# Admin password
GF_SECURITY_ADMIN_PASSWORD=password
# Allow anonymous authentication or not
#GF_AUTH_ANONYMOUS_ENABLED=true
# Role of anonymous user
#GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
# Install plugins here our in your own config file
#GF_INSTALL_PLUGINS='list of plugins seperated by ,'