# Traefik Keycloak communication
KEYCLOAK_CLIENT_ID=client-id
KEYCLOAK_CLIENT_SECRET=LMC6I3Jo4iiby1cI59b86NjduekEW353
KEYCLOAK_REALM=realm-name
TOKEN_COOKIE_NAME=some-cookie-name
# This URL should be the same from host and docker side (redirection)
KEYCLOAK_URL=http://keycloak:8080