# Keycloak
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://keycloak-database:5432/keycloak
KC_DB_USERNAME=dbUSER
KC_DB_PASSWORD=dbPASS
KC_DB_SCHEMA: public
# Keycloak PostgresDB
POSTGRES_DB: keycloak
POSTGRES_USER: dbUSER
POSTGRES_PASSWORD: dbPASS