<mat-form-field>
  <mat-label>{{ name }}</mat-label>
  <input
         type="text"
         placeholder="A124"
         matInput
         maxlength="4"
         [formControl]="control"
         [matAutocomplete]="auto"
         (input)="handleAircraftTypeAutocomplete()"
         (focus)="handleAircraftTypeAutocomplete()">
  <button matSuffix mat-icon-button aria-label="Filter by" [matMenuTriggerFor]="aircraftTypeFilterMenu">
    <mat-icon>filter_list</mat-icon>
    <mat-menu #aircraftTypeFilterMenu="matMenu">
      <button mat-menu-item (click)="setFilterTo('name')" [disabled]="filterBy === 'name'">By Name</button>
      <button mat-menu-item (click)="setFilterTo('icao')" [disabled]="filterBy === 'icao'">By ICAO</button>
    </mat-menu>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAircraftType">
    @for (option of filteredOptions; track option) {
      <mat-option [value]="option">{{ option.name }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

