<form [formGroup]="flyingPlanForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Flight Rules:</mat-label>
    <input matInput id="flightRules" formControlName="flightRules"/>
  </mat-form-field>
  <div>
    <label for="flightType">Flight Type:</label>
    <input id="flightType" formControlName="flightType"/>
  </div>

  <div>
    <label for="aircraftCount">Aircraft Count:</label>
    <input id="aircraftCount" formControlName="aircraftCount" type="number"/>
  </div>
  <div>
    <app-airport-input [name]="'Starting Airport'"
                       [control]="flyingPlanForm.controls['startingAirport']"
    ></app-airport-input>
  </div>
  <div>
    <igx-time-picker id="startingTime" formControlName="startingTime"
                     [mode]="mode"
                     [inputFormat]="format"
                     [spinLoop]="false">
      <label igxLabel>Starting Time:</label>
    </igx-time-picker>
  </div>
  <div>
    <label for="cruisingSpeed">Cruising Speed:</label>
    <input id="cruisingSpeed" formControlName="cruisingSpeed"/>
  </div>
  <div>
    <label for="cruisingAltitude">Cruising Altitude:</label>
    <input id="cruisingAltitude" formControlName="cruisingAltitude"/>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Route</mat-label>
      <textarea matInput formControlName="path" placeholder="ABQ DIESL TTORO3 IAH"></textarea>
    </mat-form-field>
    <button mat-icon-button aria-label="Get routes" (click)="suggestRoutes()">
      <mat-icon>help</mat-icon>
    </button>
  </div>
  <div>
    <app-airport-input [name]="'Destination Airport'"
                       [control]="flyingPlanForm.controls['destinationAirport']"></app-airport-input>
  </div>
  <div>
    <igx-time-picker id="estimatedTime" formControlName="estimatedTime"
    [mode]="mode"
    [inputFormat]="format"
    [spinLoop]="false">
      <label igxLabel>Estimated Time :</label>
    </igx-time-picker>
  </div>
  <div formArrayName="alternativeAirport">
    <label>Alternative Airport:</label>
    <div *ngFor="let altAirport of alternativeAirports.controls; let i=index">
      <input [formControlName]="i" [id]="'alternativeAirports' + i"/>
    </div>
  </div>
  <div formArrayName="otherInformations">
    <label>Other Informations:</label>
    <div *ngFor="let info of otherInformations.controls; let i=index">
      <input [formControlName]="i" [id]="'otherInformations' + i"/>
    </div>
  </div>
  <div>
    <label for="autonomy">Autonomy:</label>
    <input id="autonomy" formControlName="autonomy"/>
  </div>
  <div>
    <label for="occupantCount">Occupant Count:</label>
    <input id="occupantCount" formControlName="occupantCount" type="number"/>
  </div>

  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile colspan="2" rowspan="2">
      <h2>Aircraft Data</h2>
      <div formGroupName="aircraftData">
        <mat-label>Aircraft ID:</mat-label>
        <input matInput id="aircraftId" formControlName="aircraftId"/>

        <div>
          <aircraft-type-input
            [name]="'Aircraft Type'"
            [control]="aircraftData.controls['airCraftType']"
          ></aircraft-type-input>
        </div>


        <label for="turbulenceType">Turbulence Type:</label>
        <input id="turbulenceType" formControlName="turbulenceType"/>

        <label for="equipment">Equipment:</label>
        <input id="equipment" formControlName="equipment"/>

        <label for="transponder">Transponder:</label>
        <input id="transponder" formControlName="transponder"/>

        <label for="colorAndMarkings">Color and Markings:</label>
        <input id="colorAndMarkings" formControlName="colorAndMarkings"/>
      </div>
    </mat-grid-tile>
    <div formGroupName="equipement">
      <h2>Equipment Section</h2>
      <mat-grid-tile colspan="1" rowspan="3">
        <table>
          <tr>
            <mat-checkbox id="uhfPost" formControlName="uhfPost">UHF Post</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="vhfPost" formControlName="vhfPost">VHF Post</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="rdbaBeacon" formControlName="rdbaBeacon">RDBA Beacon</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="survivalEquipmentPolar" formControlName="survivalEquipmentPolar">Survival Equipment Polar</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="survivalEquipmentDesert" formControlName="survivalEquipmentDesert">Survival Equipment Desert</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="survivalEquipmentMaritime" formControlName="survivalEquipmentMaritime">Survival Equipment Maritime</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="survivalEquipmentJungle" formControlName="survivalEquipmentJungle">Survival Equipment Jungle</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="safetyJacketWithLight" formControlName="safetyJacketWithLight">Safety Jacket With Light</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="safetyJacketWithFluorescein" formControlName="safetyJacketWithFluorescein">Safety Jacket With Fluorescein</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="safetyJacketWithUHF" formControlName="safetyJacketWithUHF">Safety Jacket With UHF</mat-checkbox>
          </tr>
          <tr>
            <mat-checkbox id="safetyJacketWithVHF" formControlName="safetyJacketWithVHF">Safety Jacket With VHF</mat-checkbox>
          </tr>
        </table>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <label for="raftCount">Raft Count:</label>
        <input id="raftCount" formControlName="raftCount" type="number"/>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <label for="raftCapacity">Raft Capacity:</label>
        <input id="raftCapacity" formControlName="raftCapacity" type="number"/>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <label for="raftCoverageColor">Raft Coverage Color:</label>
        <input id="raftCoverageColor" formControlName="raftCoverageColor"/>
      </mat-grid-tile>

    </div>
  </mat-grid-list>
  <div>
    <label for="remarks">Remarks:</label>
    <input id="remarks" formControlName="remarks"/>
  </div>
  <div>
    <label for="pilot">Pilot:</label>
    <input id="pilot" formControlName="pilot"/>
  </div>
  <button type="submit" [disabled]="flyingPlanForm.invalid">Submit</button>
</form>
