<div style="text-align: center">
  <form [formGroup]="flyingPlanForm" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <mat-form-field class="space-margin">
          <mat-label>Règles de vol:</mat-label>
          <input matInput formControlName="flightRules"/>
        </mat-form-field>
        <mat-form-field class="space-margin">
          <mat-label>Type de vol:</mat-label>
          <input matInput formControlName="flightType"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="space-margin">
          <mat-label>Nombre d'aéronefs:</mat-label>
          <input matInput formControlName="aircraftCount" type="number"/>
        </mat-form-field>
      </div>
      <div>
        <app-airport-input [name]="'Starting Airport'"
                           [control]="flyingPlanForm.controls['startingAirport']"
        ></app-airport-input>
        <app-airport-input [name]="'Destination Airport'"
                           [control]="flyingPlanForm.controls['destinationAirport']"
        ></app-airport-input>
      </div>
      <div>
        <mat-form-field class="space-margin">
          <mat-label>Temps de départ:</mat-label>
          <input matInput formControlName="startingTime" type="time">
        </mat-form-field>
        <mat-form-field class="space-margin">
          <mat-label>Durée prévue:</mat-label>
          <input matInput formControlName="estimatedTime" type="time">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="space-margin">
          <mat-label>Vitesse de croisière:</mat-label>
          <input matInput formControlName="cruisingSpeed"/>
        </mat-form-field>
        <mat-form-field class="space-margin">
          <mat-label>Altitude de croisière:</mat-label>
          <input matInput formControlName="cruisingAltitude"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="space-margin">
          <mat-label>Route</mat-label>
          <textarea matInput formControlName="path" placeholder="ABQ DIESL TTORO3 IAH"></textarea>
        </mat-form-field>
        <button mat-icon-button aria-label="Get routes" (click)="suggestRoutes()">
          <mat-icon>help</mat-icon>
        </button>
      </div>
      <div>
        <mat-form-field class="space-margin" formArrayName="alternativeAirport">
          <mat-label>Aéroports alternatifs:</mat-label>
          <div *ngFor="let altAirport of alternativeAirports.controls; let i=index">
            <input matInput [formControlName]="i" [id]="'alternativeAirports' + i"/>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="space-margin" formArrayName="otherInformations">
          <mat-label>Autres informations:</mat-label>
          <div *ngFor="let info of otherInformations.controls; let i=index">
            <input matInput [formControlName]="i" [id]="'otherInformations' + i"/>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="space-margin">
          <mat-label>Autonomie:</mat-label>
          <input matInput formControlName="autonomy" type="time"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="space-margin">
          <mat-label>Nombre d'occupants:</mat-label>
          <input matInput formControlName="occupantCount" type="number"/>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>
    <br>

    <div>
      <h4>Données de l'aéronef</h4>

      <div formGroupName="aircraftData">
        <show-aircraft-form [airCraftList]="aircrafts"
                            (updatedAircraftList)="onAircraftSelected($event)"></show-aircraft-form>

        <div>
          <mat-form-field class="space-margin">
            <mat-label>Aircraft ID:</mat-label>
            <input matInput formControlName="aircraftId"/>
          </mat-form-field>

          <aircraft-type-input
            name="Type d'aéronef"
            [control]="aircraftData.controls['aircraftType']"
          ></aircraft-type-input>
        </div>

        <div>
          <mat-form-field class="space-margin">
            <mat-label>Type de turbulence:</mat-label>
            <input matInput formControlName="turbulenceType"/>
          </mat-form-field>

          <mat-form-field class="space-margin">
            <mat-label>Équipement:</mat-label>
            <input matInput formControlName="equipment"/>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="space-margin">
            <mat-label>Transponder:</mat-label>
            <input matInput formControlName="transponder"/>
          </mat-form-field>

          <mat-form-field class="space-margin">
            <mat-label>Marques et couleur:</mat-label>
            <input matInput formControlName="colorAndMarkings"/>
          </mat-form-field>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <br>

    <div>
      <h4>Section équipement</h4>

      <mat-grid-list [cols]="mobileQuery.matches ? 1 : 2" rowHeight="100px">
        <div formGroupName="equipment" style="text-align: left">
          <mat-grid-tile colspan="1" rowspan="5">
            <ul>
              <li>
                <mat-checkbox formControlName="uhfPost">UHF Post</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="vhfPost">VHF Post</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="rdbaBeacon">RDBA Beacon</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="survivalEquipmentPolar">Survival Equipment Polar</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="survivalEquipmentDesert">Survival Equipment Desert</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="survivalEquipmentMaritime">Survival Equipment Maritime</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="survivalEquipmentJungle">Survival Equipment Jungle</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="safetyJacketWithLight">Safety Jacket With Light</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="safetyJacketWithFluorescein">Safety Jacket With Fluorescein
                </mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="safetyJacketWithUHF">Safety Jacket With UHF</mat-checkbox>
              </li>
              <li>
                <mat-checkbox formControlName="safetyJacketWithVHF">Safety Jacket With VHF</mat-checkbox>
              </li>
            </ul>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowspan="3">
            <div>
              <div>
                <mat-form-field class="space-margin">
                  <mat-label>Nombre de canots:</mat-label>
                  <input matInput formControlName="raftCount" type="number"/>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="space-margin">
                  <mat-label>Capacité de canots:</mat-label>
                  <input matInput formControlName="raftCapacity" type="number"/>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="space-margin">
                  <mat-label>Couleur des canots:</mat-label>
                  <input matInput formControlName="raftCoverageColor"/>
                </mat-form-field>
              </div>
            </div>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>

    <mat-divider></mat-divider>
    <br>

    <mat-form-field class="space-margin">
      <mat-label>Remarques:</mat-label>
      <input matInput formControlName="remarks"/>
    </mat-form-field>
    <mat-form-field class="space-margin">
      <mat-label>Pilote:</mat-label>
      <input matInput formControlName="pilot"/>
    </mat-form-field>

    <div>
      <button mat-fab extended type="submit" [disabled]="flyingPlanForm.invalid">
        <mat-icon>send</mat-icon>
        Enregistrer
      </button>
    </div>
  </form>
</div>

