<mat-card class="weather-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title><div [innerHTML]="nameDisplay"></div></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><span [innerHTML]="conditionDisplay"></span></p>
    <p><span [innerHTML]="temperatureDisplay"></span></p>
    <p><span [innerHTML]="dewpointDisplay"></span></p>
    <p><span [innerHTML]="pressureDisplay"></span></p>
    <p><span [innerHTML]="windsDisplay"></span></p>
    <p><span [innerHTML]="visibilityDisplay"></span></p>
    <p><span [innerHTML]="cloudsDisplay"></span></p>
  </mat-card-content>
</mat-card>
