openapi: "3.0.3"
info:
  title: "PilotHelper Flight Plan API"
  description: "PilotHelper API for managing Flight Plans"
  version: "1.0.0"
servers:
  - url: "http://pilothelper.com/flight-plan"
paths:
  /:
    get:
      description: ""
      responses:
        "200":
          description: "OK"
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/Function1_? super HTML"
              examples:
                text/html:
                  description: "HTML document"
                  value: ""
  /{id}:
    delete:
      description: "Delete flight-plan"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "object"
    get:
      description: "Read flight-plan"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/FlightPlan"
            'application/xml':
              schema:
                $ref: "#/components/schemas/FlightPlan"
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
    put:
      description: "Update flight-plan"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlightPlan"
          'application/xml':
            schema:
              $ref: "#/components/schemas/FlightPlan"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "object"
  /{id}/pdf:
    get:
      description: ""
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
      responses:
        "200":
          description: "OK <br> A file response"
          content:
            application/pdf:
              schema:
                type: "object"
                format: "binary"
        "500":
          description: "Internal Server Error"
          content:
            '*/*':
              schema:
                type: "object"
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
  /user:
    get:
      description: "Read all flight-plans from user"
      responses:
        "401":
          description: "Unauthorized"
          content:
            '*/*':
              schema:
                type: "object"
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/FlightPlansWithId"
components:
  schemas:
    Aircraft:
      type: "object"
      properties:
        aircraftId:
          type: "string"
        aircraftType:
          type: "string"
        turbulenceType:
          type: "string"
        equipment:
          type: "string"
        transponder:
          type: "string"
        colorAndMarkings:
          type: "string"
      required:
      - "aircraftId"
      - "aircraftType"
      - "equipment"
      - "transponder"
      - "colorAndMarkings"
    Equipment:
      type: "object"
      properties:
        uhfPost:
          type: "boolean"
        vhfPost:
          type: "boolean"
        rdbaBeacon:
          type: "boolean"
        survivalEquipmentPolar:
          type: "boolean"
        survivalEquipmentDesert:
          type: "boolean"
        survivalEquipmentMaritime:
          type: "boolean"
        survivalEquipmentJungle:
          type: "boolean"
        safetyJacketWithLight:
          type: "boolean"
        safetyJacketWithFluorescein:
          type: "boolean"
        safetyJacketWithUHF:
          type: "boolean"
        safetyJacketWithVHF:
          type: "boolean"
        raftCount:
          type: "integer"
          format: "int32"
        raftCapacity:
          type: "integer"
          format: "int32"
        raftCoverageColor:
          type: "string"
      required:
      - "raftCoverageColor"
    FlightPlan:
      type: "object"
      properties:
        flightRules:
          type: "string"
        flightType:
          type: "string"
        aircraftData:
          $ref: "#/components/schemas/Aircraft"
        aircraftCount:
          type: "integer"
          format: "int32"
        startingAirport:
          type: "string"
        startingTime:
          type: "string"
        cruisingSpeed:
          type: "string"
        cruisingAltitude:
          type: "string"
        path:
          type: "string"
        destinationAirport:
          type: "string"
        estimatedTime:
          type: "string"
        alternativeAirport:
          type: "array"
          items:
            type: "string"
        otherInformations:
          type: "array"
          items:
            type: "string"
        autonomy:
          type: "string"
        occupantCount:
          type: "integer"
          format: "int32"
        equipment:
          $ref: "#/components/schemas/Equipment"
        remarks:
          type: "string"
        pilot:
          type: "string"
      required:
      - "aircraftData"
      - "startingAirport"
      - "startingTime"
      - "cruisingSpeed"
      - "cruisingAltitude"
      - "path"
      - "destinationAirport"
      - "estimatedTime"
      - "alternativeAirport"
      - "otherInformations"
      - "autonomy"
      - "equipment"
      - "remarks"
      - "pilot"
    FlightPlansWithId:
      type: object
      properties:
        id:
          type: "number"
        flightPlan:
          $ref: "#/components/schemas/FlightPlan"